<div class="ui-g">

  <div class="ui-g-12">
    <h1>Lançamentos</h1>
  </div>

  <div class="ui-g-12">
    <a href="javascript:;" style="text-decoration: none"
    pTooltip="Novo lançamento individual" tooltipPosition="right"
    (click)="openFormModal(f)"><i class="fa fa-plus"></i> Novo</a>
    <a href="javascript:;" style="text-decoration: none; margin-left: .50em"
    pTooltip="Novo baseado em anterior" tooltipPosition="right"><i class="fa fa-plus"></i> Novo em lote</a>
    <a href="javascript:;" style="text-decoration: none; margin-left: .50em"
    pTooltip="Pesquisar/Gerar Remessa" tooltipPosition="right"
    (click)="openSearchModal(searchModal)"><i class="fa fa-search"></i> Pesquisar</a>
    <p-table [value]="lancamentos" [paginator]="true" [rows]="5" [responsive]="true">
      <ng-template pTemplate="header">
        <tr>
          <th class="notextcenter">Cliente</th>
          <th style="width: 100px">Valor</th>
          <th style="width: 100px">Valor Pago</th>
          <th style="width: 120px">Vencimento</th>
          <th style="width: 120px">Pagamento</th>
          <th style="width: 130px">Situação</th>
          <th style="width: 80px">Lote</th>
          <th style="width: 80px"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-d>
        <tr>
          <td class="notextcenter">{{d.cliente}}</td>
          <td style="color: blue">{{d.valor | number:'1.2-2'}}</td>
          <td style="color: blue">{{d.valorPago | number:'1.2-2'}}</td>
          <td>{{d.vencimento | date: 'dd/MM/yyyy'}}</td>
          <td>{{d.pagamento | date: 'dd/MM/yyyy'}}</td>
          <td>
            <span class="badge"
            [ngClass]="{'badge-warning': d.situacao === 'PENDENTE'}">
              {{d.situacao}}
            </span>
          </td>
          <td>{{d.lote}}</td>
          <td style="text-align: center">
            <a href="javascript:;" pTooltip="Editar" tooltipPosition="top"
            style="margin-right: .25em"><i class="far fa-edit"></i></a>
            <a href="javascript:;" pTooltip="Excluir" tooltipPosition="top"><i class="far fa-trash-alt"></i></a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8" class="notextcenter">
            Nenhum registro encontrado.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>


  <p-dialog [(visible)]="formModal" [width]="600" [modal]="true" [responsive]="true" [maximizable]="true" [minY]="120">
    <p-header>Novo lançamento</p-header>
    <div class="ui-g-12">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" autocomplete="off">

        <div class="ui-g-6 ui-fluid">
          <label>Convênio*</label>
          <p-dropdown [options]="convenios" name="convenio" [autoWidth]="false" placeholder="Selecione:"
                      [(ngModel)]="lancamento.convenio.id" required></p-dropdown>
        </div>

        <div class="ui-g-12 ui-fluid">
          <label>Cliente*</label>
          <p-dropdown [options]="clientes" name="cliente" [autoWidth]="false" [filter]="true" placeholder="Selecione:"
                      [(ngModel)]="lancamento.cliente.id" required
                      emptyFilterMessage="Nenhum cliente encontrado!"></p-dropdown>
        </div>

        <div class="ui-g-4 ui-fluid" style="margin-top: 15px">
        <span class="ui-float-label">
          <input id="valor" type="text" pInputText name="valor"
                 [(ngModel)]="lancamento.valor" required
                 currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }">
          <label for="valor">Valor*</label>
        </span>
        </div>

        <div class="ui-g-6 ui-fluid" style="margin-top: 15px">
        <span class="ui-float-label">
          <p-calendar name="vencimento" dateFormat="dd/mm/yy" id="vencimento"
                      [(ngModel)]="lancamento.vencimento" required></p-calendar>
          <label for="vencimento">Vencimento*</label>
        </span>
        </div>


        <div class="ui-g-12">
          <button pButton label="Salvar" type="submit"></button>
        </div>
      </form>
    </div>
  </p-dialog>

  <ng-template #searchModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Pesquisa de Lançamentos</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="listar(); habilitarRemessa === true" autocomplete="off">

        <div class="ui-g-6 ui-fluid">
          <label>Convênio*</label>
          <p-dropdown [options]="conveniosFiltros" name="convenio" [autoWidth]="false" placeholder="Selecione:"
                      [(ngModel)]="filtro.convenio" required></p-dropdown>
        </div>

        <div class="ui-g-6 ui-fluid">
          <label>Vencimento*</label>
          <p-calendar name="vencimento" dateFormat="dd/mm/yy"
                      [(ngModel)]="filtro.vencimento" required></p-calendar>
        </div>

        <div class="ui-g-12">
          <button pButton label="Filtrar" type="submit" style="margin-right: .25em"></button>
          <button type="button" pButton label="Limpar" class="ui-button-secondary"
          (click)="f.reset()"></button>
        </div>
      </form>
      <div class="ui-g-12">
        <p-table [value]="lancamentos" [scrollable]="true" scrollHeight="200px">
          <ng-template pTemplate="header">
            <tr>
              <th class="notextcenter">Cliente</th>
              <th style="width: 100px">Valor</th>
              <th style="width: 120px">Vencimento</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-d>
            <tr>
              <td class="notextcenter">{{d.cliente}}</td>
              <td style="color: blue; width: 100px" >{{d.valor | number:'1.2-2'}}</td>
              <td style="width: 120px">{{d.vencimento | date: 'dd/MM/yyyy'}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="ui-g-12">
        <button pButton type="button" label="Gerar Remessa" (click)="gerarRemessa()"
                *ngIf="habilitarRemessa === true"></button>
      </div>
    </div>
  </ng-template>
</div>
